<link rel="stylesheet" href="/css/_header.css">
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color logo">
    <a class="navbar-brand xl" href="/">SocialPal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-li" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link waves-effect waves-light" href="/">
              <i class="fas fa-home"></i> Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="#">
              <i class="fas fa-gear"></i> Settings</a>
        </li> -->
        <% if(locals.user){ %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i><%=user.name%> </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                  <a class="dropdown-item waves-effect waves-light" href="/users/profile">My account</a>
                  <a class="dropdown-item waves-effect waves-light" href="/users/signout">Log out</a>
                </div>
              </li>
        <%}else{%>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/users/signup">
                  <i class="fas fa-gear"></i>Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/users/signin">
                  <i class="fas fa-gear"></i>Sign In</a>
            </li>
        <%}%>
      </ul>
    </div>
  </nav>