<link rel="stylesheet" href="/css/chat_box.css">
<% if (locals.user){ %>
	<div id="user-chat-box">
		<div id="chat-options">
    	<span style="font-size: medium;">SocialPal Room</span>
    	<!-- <ul id="options">
        	<li id="minimize"><i class="fa fa-window-minimize" style="color: black;" aria-hidden="true"></i></li>&ensp;
    	</ul> -->
		</div>
		<ul id="chat-messages-list">
			<li class="other-message">
				<!-- <span>Other Message</span> -->
			</li>
			<li class="self-message">
				<!-- <span>
					Self Message
				</span> -->
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here" autocomplete="off">
			<button  id="send-message">Send</button>
		</div>

	</div>
<% } %>


