<link rel="stylesheet" href="/css/forgot_password.css">
<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Change your password</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your new password.</li>
                    <li><span class="text-primary text-medium">2. </span>Confirm your entered password.</li>
                    <li><span class="text-primary text-medium">3. </span>Submit to save your new password.</li>
                </ol>
            </div>
            <form class="card mt-4" method="POST" action="/users/change-password">
                <div class="card-body">
                    <div class="form-group"> <label for="pass">New password</label> <input class="form-control" type="password" id="pass" name="password" placeholder="Enter your new password..." required=""></div>
                    <div class="form-group"> <label for="confirm-pass">Confirm password</label> <input class="form-control" type="password" id="confirm-pass" name="confirm_password" placeholder="Confirm your password..." required=""></div>
                    <input class="form-control" type="hidden" name="email" value="<%=email%>">
                    <input class="form-control" type="hidden" name="token" value="<%=token%>">
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit">Change Password</button> <a href="/users/forgot-password" class="btn btn-danger" type="submit">Resend Link</a> </div>
            </form>
        </div>
    </div>
</div>