// adding styling for the chat box
#user-chat-box{
    // margin-left: 200px;
    position: fixed;
    bottom: 10px;
    right: 55px;
    border: 1px solid rgb(200, 200, 200);
    height: 250px;
	width: 350px;
	background: white;
	// padding: 5px;
    box-shadow: 1px 1px 2px lightgrey;
    font-size: x-small;

    #chat-options{
        display: flex;
        flex-direction: row;
        color: black;
        align-items: center;
        justify-content: space-between;
        height: 1.4rem;
        padding: 3px;
        color: white;
        background-color:rgb(248, 62, 62);

        #options{
            list-style-type: none;
            margin-top: 12px;
            li{
				display: inline-block;
			} 
        }
    }

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
		height: 70%;
		color: black;
	    background-color: white;
        overflow: auto;
        font-size: small;

	    .other-message{
		    text-align: left;
		    padding: 2px;
		    span{
		    	display: inline-block;
	    		padding: 10px;
		    	background-color: #ffa0a0;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
            padding: 2px;
		    span{
	    		display: inline-block;
	    		padding: 10px;
    			background-color: #a0dcff;
		    }
		   
	    }

    }
    #chat-message-input-container{
    	    height: 24%;
		    width: 100%;
		    display: flex;
            flex-direction: row;
            font-size: small;

		    #chat-message-input{
	    	    height: 50%;
                width: 70%;
                border: 0;
                border-top: 0.1px solid lightgrey;
		    }

		    #send-message{
	    	    height: 50%;
			    width: 30%;
			    color: white;
			    border: none;
			    background: #58d258;
		    }
	    }
}
